<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\LvsMobileAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  	<!--<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>-->
	 </system.webServer> 
  </location>
</configuration>
<!--ProjectGuid: 94d3d5df-e30f-4c70-9c79-5335f2e20049-->