/****** Skript für SelectTopNRows-Befehl aus SSMS ******/


Update Artikel SET Mandanten_ID=1
SELECT TOP 1000 [ID]
      ,[AuftragID]  
      ,[AB_ID]
      ,[Mandanten_ID]     
     
  FROM [SLE_LVS].[dbo].[Artikel]

  Update LEingang
  SET Mandant=1
SELECT TOP 1000 [ID]
      ,[LEingangID]
      ,[Date]
 
      ,[AbBereich]
      ,[Mandant]

  FROM [SLE_LVS].[dbo].[LEingang]


Update LAusgang SET MandantenID=1

SELECT TOP 1000 [ID]
      ,[LAusgangID]
 
      ,[AbBereich]
      ,[MandantenID]
    
  FROM [SLE_LVS].[dbo].[LAusgang]